[Unit]
Description=ngrok tunnel GPA Academy LMS
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/local/bin/ngrok start --all --config /etc/ngrok/ngrok.yml
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
